.form {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

input[type="password"],input[type="text"] {
    width: 300px;
    height: 20px;
    border: 1px solid #ccc;
    margin-bottom: 20px;
    padding: 10px;
}

input[type="submit"]{
    width: 25%;
    padding: 10px;
}