<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>

<body>
    <form action="/login" method="POST">
        <div>
            <labe>ユーザーid</labe>
            <input type="text" name="id" placeholder="半角英数">
        </div>
        <div>
            <labe>ユーザーpassword</labe>
            <input type="password" name="passWord" placeholder="半角英数">
        </div>
        <div>
            <input type="submit" value="ログイン">
        </div>
    </form>
</body>

</html>